<form action="/items/<%= params[:id] %>" method="post">
  <div class="mb-3">
    <label for="title_items" class="form-label">Items名</label>
    <input type="text" id="title_items" name="title_items" value="<%= @title_items %>" class="form-control">
  </div>
  <div class="mb-3">
  <label for="excel_items" class="form-label">Excel</label>
  <input type="file" id="excel_items" name="excel_items" accept=".xls,.xlsx" class="form-control">
  </div>
  <div class="mb-3">
  <label for="items_erb" class="form-label">Channels</label>
  <input type="file" id="items_erb" name="items_erb" accept=".erb" class="form-control">
  </div>
  <div>
    <input type="hidden" name="_method" value="patch">
    <input type="submit" value="保存" class="btn btn-primary">
  </div>
</form>