<div class="mb-4">
  <a class="btn btn-secondary" href="/items/new">Itemsを作成</a>
</div>
<ul>
  <% @items.each do |id, post| %>
    <li>
      <a class="btn btn-secondary" href="/items/<%= id %>"><%= post["title_items"] %></a>
    </li>
  <% end %>
</ul>
<div>
  <a class="btn btn-secondary" href="/">HABitatX</a>
</div>