<html>
<head>
  <meta charset="UTF-8">
  <title>index</title>
</head>
<body>
  <p>
    <a class="btn btn-secondary" href="/things">Things</a>
  </p>
  <p>
    <a class="btn btn-secondary" href="/items">Items</a>
  </p>
  <p>
    <a class="btn btn-secondary" href="/template">ERB</a>
  </p>
</body>
</html>